@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	a {
		@apply cursor-pointer;
	}
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 45% 11%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 25% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 45% 11%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 45% 11%;

		--border: 214.3 32% 91.4%;
		--input: 214.3 32% 91.4%;

		--primary: 222.2 45% 11%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 45% 11%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 45% 11%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 25% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 10%;
		--foreground: 0 0% 100%;

		--muted: 0 0% 20%;
		--muted-foreground: 215 20.2% 85%;

		--popover: 0 0% 8%;
		--popover-foreground: 0 0% 100%;

		--card: 0 0% 8%;
		--card-foreground: 0 0% 100%;

		--border: 0 0% 25%;
		--input: 0 0% 25%;

		--primary: 0 0% 100%;
		--primary-foreground: 0 0% 0%;

		--secondary: 0 0% 20%;
		--secondary-foreground: 0 0% 100%;

		--accent: 0 0% 25%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 0 0% 25%;

		background: linear-gradient(to bottom, hsl(0, 0%, 8%), hsl(0, 0%, 10%));
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground min-h-screen;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
		font-family: 'Roboto Flex', serif;
		font-optical-sizing: auto;
		font-weight: 100;
		font-style: normal;
		font-variation-settings:
			'slnt' 0,
			'wdth' 100,
			'GRAD' -72,
			'XOPQ' 96,
			'XTRA' 468,
			'YOPQ' 79,
			'YTAS' 750,
			'YTDE' -203,
			'YTFI' 738,
			'YTLC' 514,
			'YTUC' 712;
	}

	body.dark {
		background-attachment: fixed;
		background-size: cover;
	}
}

/* Theme transition utilities */
@layer utilities {
	.theme-transition {
		@apply transition-colors duration-200;
	}
}
